{% extends "base.html" %}

{% block title %}Buscar Usuarios{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Buscar Usuarios</h1>
    <form method="POST" action="{{ url_for('main.search_users') }}">
        <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="Escribe un nombre de usuario..." required>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
</div>
{% endblock %}
